body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
header {
  background: #004080;
  color: white;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 1em;
}
.hero {
  background: #f0f8ff;
  padding: 2rem;
  text-align: center;
}
.services {
  padding: 2em;
  background: #e6f2ff;
  display: flex;
  justify-content: space-around;
  font-size: 25px;
  text-decoration: none;
  color: black;
}
.service-card {
  background: white;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 8px;
  border-color: black;
  font-size: 25px;
}

footer {
  background: #002040;
  color: white;
  text-align: center;
  padding: 1em;
}
.login-form {
  max-width: 300px;
  margin: 100px auto;
  padding: 2em;
  background: #f4f4f4;
  border-radius: 10px;
}
.login-form input,
.login-form button {
  width: 100%;
  padding: 0.75em;
  margin: 0.5em 0;
}
.go{
    font-size: 25px;
    color: white;
}
.go:hover{
    text-decoration: underline;
    color: black;
    cursor: pointer;
}
.come{
    font-size: 25px;
    color: white;
}
.come:hover{
    color: black;
    cursor: pointer;
    text-decoration: underline;
}
.in{
    font-size: 25px;
    color: white;
}
.in:hover{
    color: black;
    cursor: pointer;
}
.service-card:hover{
    color: white;
    cursor: pointer;
    background-color: rgb(10, 10, 41);
}
.submit:hover{
  cursor: pointer;
  background-color: black;
  color: white;
}
.submit{
  width: 500px;
}
.login{
    color: black; text-decoration: none; font-size: 20px;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.login:hover{
    color: white;
}